
{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}Game{% endblock %}

{% block content %}

<h1>War!!!</h1>
<p>Hand, click one of the cards to play the card</p>

<form action="/GamePlay">
<input name="CardPlayed" type="submit" value="{{Card1}}">
</form>
<form action="/GamePlay">
<input name="CardPlayed" type="submit" value="{{Card2}}">
</form>
<form action="/GamePlay">
<input name="CardPlayed" type="submit" value="{{Card3}}">
</form>
<form action="/GamePlay">
<input name="CardPlayed" type="submit" value="{{Card4}}">
</form>
<form action="/GamePlay">
<input name="CardPlayed" type="submit" value="{{Card5}}">
</form>

{% endblock %}
